<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigerian Hydrocarbon Measurement Conference: NiHMEC 2023</title>
    <meta name="description" content="">
    <meta name="keywords" content="Hydrocarbon, Measurement, Nigeria, Oil and gas, Petroleum, Conference">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js" integrity="sha512-IUpSKpPKlXuPokiYONEZUG/H4c1rw4VmbGdnBKB18qm/9jbnxQ4Rv5Da9qEmB3hIa3k4DxRNoZfB6FTpERnuOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <main class="about">
        <h1>Register for <span>NiHMEC 3</span></h1>
        <div class="register-container">
            <div class="contact-to-register">
                <h3>You can also contact us to register</h3>
                <a href="mailto:s.kanshio@fleissen.com">s.kanshio@fleissen.com</a>
                <a href="tel:+2349098614828">+2349098614828</a>
            </div>
            <div class="about-container">
                <form action="" method="post">
                    <h2>Personal info:</h2>
                    <div class="form-card registration-form-1">
                        <div class="form-field">
                            <label for="first-name">First name</label> <br>
                            <input type="text" name="first-name" id="first-name" placeholder="First name" required>
                        </div>
                        <div class="form-field">
                            <label for="surname-name">Surname name</label> <br>
                            <input type="text" name="surname-name" id="surname-name" placeholder="Surname" required>
                        </div>
                        <div class="form-field">
                            <label for="surname-name">Sex</label> <br>
                            <input type="text" name="sex" id="sex" placeholder="Sex/Gender" required>
                        </div>
                        <div class="form-field">
                            <label for="email">Email address</label> <br>
                            <input type="email" name="email" id="email" placeholder="Email address" required>
                        </div>
                        <div class="form-field">
                            <label for="phone">Phone</label> <br>
                            <input type="tel" name="phone" id="phone" placeholder="Phone number" required>
                        </div>
                        <div class="form-field">
                            <label for="company">Company</label> <br>
                            <input type="text" name="company" id="company" placeholder="Company/Organization name" required>
                        </div>
                        <div class="form-field">
                            <label for="position">Position</label> <br>
                            <input type="text" name="position" id="position" placeholder="Position in company/organization" required>
                        </div>
                        <div class="form-field">
                            <label for="state">State</label> <br>
                            <input type="text" name="state" id="state" placeholder="State of residence" required>
                        </div>
                        <div class="form-field">
                            <label for="state">City</label> <br>
                            <input type="text" name="city" id="city" placeholder="City of residence" required>
                        </div>
                        <div class="form-field">
                            <label for="country">Country</label> <br>
                            <input type="text" name="country" id="country" placeholder="Country of residence" required>
                        </div>
                        <hr>
                        <div class="form-field">
                            <label for="number_of_registrants">Number of registrants</label> <br>
                            <input type="number" name="number_of_registrants" id="number_of_registrants" placeholder="Number of attendees you are registering" required>
                        </div>
                    </div>
                    <div class="form-card">
                        <h2>Register for:</h2>
                        <div class="form-field">
                            <input type="radio" name="registration_type" id="workshop" value="Workshop only" onclick="displayRegistrationCost(this)">
                            <label for="workshop">Workshop only</label><br>
                            <input type="radio" name="registration_type" id="conference" value="Conference only" onclick="displayRegistrationCost(this)">
                            <label for="conference">Conference only</label><br>
                            <input type="radio" name="registration_type" id="workshop_conference" value="Workshop and Conference" onclick="displayRegistrationCost(this)">
                            <label for="workshop_conference">Workshop and Conference</label> <br>
    
                            <div class="payment-cost-container">
                                <div class="workshop payment-cost display-cost"><p>₦<span>250000</span></p></div>
                                <div class="conference payment-cost display-cost"><p>₦<span>150000</span></p></div>
                                <div class="workshop_conference payment-cost display-cost"><p>₦<span>300000</span></p></div>
                                <div class="pay-btn"><button>Pay</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <script>
            let num_of_registrants = document.getElementById('number_of_registrants').value;
            let paymentCost = document.querySelectorAll('.payment-cost');
            function displayRegistrationCost(ele) {
                paymentCost.forEach(cost => {
                    if (ele.id == cost.classList[0]) {
                        cost.classList.toggle('display-cost');
                    }else{
                        cost.classList.add('display-cost');
                    }
               });
            let paymentCostSpan = document.querySelectorAll('.payment-cost span');
            paymentCostSpan.forEach(cost => {
                cost.innerText = cost.innerText*num_of_registrants;
            });
            }
        </script>
    </main>
</body>