<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigerian Hydrocarbon Measurement Conference: NiHMEC 2023</title>
    <meta name="description" content="">
    <meta name="keywords" content="Hydrocarbon, Measurement, Nigeria, Oil and gas, Petroleum, Conference">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js" integrity="sha512-IUpSKpPKlXuPokiYONEZUG/H4c1rw4VmbGdnBKB18qm/9jbnxQ4Rv5Da9qEmB3hIa3k4DxRNoZfB6FTpERnuOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <main class="about sponsorship-opp-container">
        <h1>Sponsorship Package - <span>Gold</span></h1>
        <p>Thank you for you interest in sponsoring NiHMEC 3</p>
        <span>Kindly fill out the form below to register your interest or contact the conference organizers.</span>
        <div class="about-container">
            <form action="" method="post">
                <h2>Sponsorship Interest Form:</h2>
                <div class="form-card registration-form-1">
                    <div class="form-field">
                        <label for="first-name">First name</label> <br>
                        <input type="text" name="first-name" id="first-name" placeholder="First name" required>
                    </div>
                    <div class="form-field">
                        <label for="surname-name">Surname name</label> <br>
                        <input type="text" name="surname-name" id="surname-name" placeholder="Surname" required>
                    </div>
                    <div class="form-field">
                        <label for="email">Email address</label> <br>
                        <input type="email" name="email" id="email" placeholder="Email address" required>
                    </div>
                    <div class="form-field">
                        <label for="phone">Phone</label> <br>
                        <input type="tel" name="phone" id="phone" placeholder="Phone number" required>
                    </div>
                    <div class="form-field">
                        <label for="company">Company</label> <br>
                        <input type="text" name="company" id="company" placeholder="Company/Organization name" required>
                    </div>
                    <div class="form-field">
                        <label for="position">Position</label> <br>
                        <input type="text" name="position" id="position" placeholder="Position in company/organization" required>
                    </div>
                    <div class="form-field">
                        <label for="state">State</label> <br>
                        <input type="text" name="state" id="state" placeholder="State of residence" required>
                    </div>
                    <div class="form-field">
                        <label for="state">City</label> <br>
                        <input type="text" name="city" id="city" placeholder="City of residence" required>
                    </div>
                    <div class="form-field">
                        <label for="country">Country</label> <br>
                        <input type="text" name="country" id="country" placeholder="Country of residence" required>
                    </div>
                    <input class="submit-btn" type="submit" value="Submit">
                </div>
                
            </form>
        </div>
    </main>
</body>